$primary: #5f84ff !default;
$primary-500: $primary;
$primary-600: #5f84ff;

$success-100: #f2faf7;
$success-500: #60ce80;
$success-700: #175b3c;

$danger-100: #fcf1f4;
$danger-300: #ca3a2f;
$danger-400: #d2626b;
$danger-700: #951c13;

$gray-500: #707070;
$gray-700: #454545;

$light-300: #f2f0ef;
$light-700: #d7d3d1;

$info-100: #f0f6fa;

$warning-300: #f0cc00;

$dark-700: #002121;
$core: #00262b;

$extras-a: #fe5c87;
$accent-a: #03c7e8;

$secondary-100: #f4f4f4;

$btn-border-radius: 0;

$breakpoint-tablet: 1024px;
$breakpoint-phone: 768px;
$breakpoint-phone-alt: 428px;
